body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

main {
    margin: 6rem auto; /* Increased margin to create more space */
    width: 90%;
    max-width: 1200px;
}

.main-content {
    padding: 2rem;
}

.users-section {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 28px; /* Incremented font size */
    color: #333;
}

.description {
    font-size: 18px; /* Incremented font size */
    color: #666;
}

.users-list {
    margin-top: 1rem;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th, .users-table td {
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: left;
}

.users-table th {
    background-color: #f1f1f1;
}

.users-table tbody tr:hover {
    background-color: #f9f9f9;
}

.btn {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0.2rem;
}

.edit-button {
    background-color: #28a745;
    color: white;
}

.delete-button {
    background-color: #B22222;
    color: white;
}
