body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    width: 100%;
    background-color: #333; /* Ajusta según tu diseño */
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    margin: 6rem auto; /* Espacio alrededor del contenido principal */
    width: 90%;
    max-width: 1200px;
    flex: 1; /* Permitir que el main ocupe el espacio disponible */
    padding-top: 2rem; /* Margen superior para separar del header */
    padding-bottom: 2rem; /* Margen inferior para separar del footer */
}

.main-content {
    padding: 2rem;
}

.users-section {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.description {
    font-size: 16px;
    color: #555;
}

.users-list {
    margin-top: 1rem;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th, .users-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.users-table th {
    background-color: #f2f2f2;
}

.users-table tbody tr:hover {
    background-color: #f9f9f9;
}

.btn {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}
