/* adminPanel.css */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); /* Ajusta el espacio para el header y el footer */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacio entre los botones */
}

.admin-button {
    width: 200px;
    padding: 15px;
    font-size: 16px;
    background-color: #800020;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: #a0002c;
}
