body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #333;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-details {
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
    text-align: center;
}

.user-title {
    font-size: 24px;
    color: #B22222;
    margin-bottom: 1rem;
}

.profile-pic-container {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    text-align: left;
    margin-top: 2rem;
}

.user-info p {
    font-size: 16px;
    margin: 0.5rem 0;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.delete-button {
    background-color: #B22222;
    color: white;
}

.edit-button {
    background-color: #666;
    color: white;
}
